* {
    box-sizing: border-box;
}

:root {
    --primary-color: #171100;
    --secondary-color: #ffb900;
    --primary-font: Poppins;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--primary-font, sans-serif);
}

/* COMMON */
a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 11px 20px;
    border-radius: 999px;
    background: var(--primary-color);
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 2);
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.row {
    display: flex;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */
.header {
    background: #fffcf4;
    padding-top: 24px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.header .list {
    display: flex;
    margin-left: auto;
    margin-right: 39px;
}

.header .item a {
    padding: 0 10px;
    margin-right: 21px;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.header .item:not(:first-child) a:hover {
    text-decoration: underline;
}

.header .active a {
    position: relative;
    color: var(--primary-color);
    font-weight: 600;
}

.header .active a::after {
    position: absolute;
    left: 10.5px;
    bottom: -3px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: var(--primary-color);
    border-radius: 99px;
}

.header .btn {
    min-width: 144px;
}

/* HERO */
.hero {
    height: calc(100vh - 98px);
    padding: 53px 0 65px;
    background: #fffcf4;
}

.hero .content {
    display: flex;
    justify-content: space-between;
}

.hero .img-block {
    position: relative;
}

.hero .img-block .image {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
}

.hero .img-info {
    position: absolute;
    left: 300px;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .row {
    align-items: center;
}

.hero .img-info .icon {
    width: 4.8rem;
    height: 4.8rem;
    background: #fff9e8;
    border-radius: 99px;
}

.hero .img-info .icon2 {
    background: #fcefff;
}

.hero .img-info .icon3 {
    background: #ebeaff;
}

.hero .img-info .row:not(:first-child) {
    margin-top: 14px;
}

.hero .img-info .info {
    margin-left: 16px;
}

.hero .img-info .number {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% */
}

.hero .img-info .course {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.hero .info-block {
    width: 470px;
    margin-top: 64px;
}

.hero .info-block .title {
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 6.8rem; /* 117.241% */
    letter-spacing: -0.116rem;
}

.hero .info-block .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.hero .info-block .desc1 {
    margin-top: 22px;
}

.hero .info-block .row {
    margin-top: 38px;
}

.hero .info-block .btn {
    padding-top: 17px;
    padding-bottom: 17px;
    min-width: 180px;
    background: var(--secondary-color);
    font-size: 1.8rem;
    line-height: 3rem; /* 166.667% */
}

.hero .info-block .btn:hover {
    background: #e0a709;
}

.hero .info-block .icon {
    width: 40px;
    height: 40px;
    border-radius: 2.5rem;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
    margin-left: 28px;
}

.hero .info-block .icon:hover {
    background: var(--primary-color);
}

.hero .info-block .icon-name {
    margin-left: 14px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.hero .info-block .desc2 {
    margin-top: 48px;
}

.hero .info-block .row:last-child {
    margin-top: 8px;
}

.hero .info-block .number {
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem; /* 122.727% */
}

.hero .info-block .number:nth-child(3) {
    margin-left: 28px;
}

.hero .info-block .noun {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.hero .info-block .noun:nth-child(even) {
    margin-left: 14px;
}

.hero .info-block .difrow {
    align-items: baseline;
}

/* POPULAR */

.popular {
    padding: 200px 0;
}

.popular .subtitle-block {
    width: 458px;
}

.popular .row {
    align-items: center;
}

.popular .subtitle-block .subtitle {
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 4.8rem; /* 126.316% */
    letter-spacing: -0.076rem;
}

.popular .subtitle-block .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.popular .page {
    margin-left: auto;
}

.popular .page .page-change:first-child {
    margin-right: 18px;
}

.popular .page .page-change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--secondary-color);
    background-color: transparent;
    border: 1.5px solid var(--secondary-color);
    border-radius: 99px;
}

.popular .page .page-change:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--secondary-color);
}

.popular .items {
    margin-top: 55px;
    gap: 30px;
}

.popular .items .item {
    flex: 1;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #e2dfda;
}

.popular .items .item:hover {
    border: 1px solid transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .item .image {
    width: 100%;
    height: 278px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px 12px 0px 0px;
}

.popular .info-block {
    padding: 14px 22px 22px;
}

.popular .item .course {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.popular .item .icon {
    margin-left: auto;
}

.popular .item .point {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.popular .item .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% */
}

.popular .item .row2 {
    margin-top: 12px;
}

.popular .item .price {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.popular .item .btn {
    margin-left: auto;
    min-width: 118px;
}

.popular .item .btn:hover {
    color: #fff;
    background: var(--secondary-color);
}

/* FEEDBACK */

.feedback {
    padding: 96px 0;
    background: #2e2100;
}

.feedback .row.list {
    overflow: hidden;
}

.feedback .row.item {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
}

.feedback .author {
    white-space: nowrap;
}

.feedback .author .image {
    width: 72px;
    height: 72px;
    object-fit: cover;
    object-position: center;
    border-radius: 99px;
}

.feedback .author .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem; /* 141.667% */
}

.feedback .author .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% */
}

.feedback .author .dots {
    margin-top: 28px;
}

.feedback .author span {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 99px;
}

.feedback .author span:nth-child(2) {
    margin: 0 6px;
}

.feedback .author .special {
    background: var(--secondary-color);
}

.feedback .quote {
    position: relative;
    top: -3px;
    width: 63.25%;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 4rem; /* 153.846% */
}

.feedback .quote .icon {
    position: absolute;
    top: -28px;
    left: -30px;
}

/* FEATURE */

.feature {
    padding: 200px 0;
}

.feature .sub-title {
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 4.8rem; /* 126.316% */
    letter-spacing: -0.076rem;
}

.feature .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.feature .btn {
    margin-top: 32px;
    background: var(--secondary-color);
    min-width: 137px;
}

.feature .btn:hover {
    background: #e0a709;
}

.feature .image {
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
}

.feature .row {
    justify-content: space-between;
    align-items: center;
}

.feature1 .image {
    width: 270px;
    height: 405px;
}

.feature1 .two-imgs {
    display: flex;
    height: 438px;
    gap: 30px;
    align-items: flex-end;
}

.feature1 .image2 {
    align-self: flex-start;
}

.feature1 .info-block {
    width: 40.2%;
}

.feature2 {
    padding-top: 200px;
}

.feature2 .image {
    width: 470px;
    height: 440px;
}

.feature2 .info-block {
    width: 48.7%;
}

/* BLOG */

.blog {
    padding: 96px 0;
    background: #fffcf4;
}

.blog .sub-title {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 4.8rem; /* 126.316% */
    letter-spacing: -0.076rem;
}

.blog .desc {
    max-width: 448px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: center;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.blog .list {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    gap: 30px;
    overflow: hidden;
}

.blog .item {
    border-radius: 16px;
    background: #fff;
}

.blog .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .info-block {
    padding: 20px 20px 28px;
}

.blog .image {
    width: 370px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px 16px 0px 0px;
}

.blog .row {
    display: flex;
    align-items: center;
}

.blog .date {
    margin-left: 4px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% */
}

.blog .separate {
    margin-top: 12px;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog h3.title {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.blog .btn:hover {
    background: var(--secondary-color);
}

.blog .dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.blog .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 99px;
    cursor: pointer;
}

.blog .dot:nth-child(2) {
    margin: 0 6px;
}

.blog .special {
    background: var(--secondary-color);
}
